@media (max-width:575px){
    .height h1 {
        color: rgb(255, 255, 255);
        font-size: 25px;
        margin: 20px 0px;
    }
    .phone {
        position: absolute;
        bottom: 0px;
        width: 88%;
    }
    .btn-downlod {
        background: rgb(0, 142, 214);
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        font-size: 18px;
        padding: 9px 8px;
        border: 1px solid transparent;
        margin-top: 60px;
    }
    .btn-features {
        background: transparent;
        color: rgb(255, 255, 255);
        font-size: 18px;
        text-transform: uppercase;
        border: 1px solid rgb(153, 153, 153);
        padding: 8px 15px;
        margin-left: 20px;
        margin-top: 60px;
      }
      .nav-item {
        padding: 0px 0 0 25px;
        text-transform: capitalize;
        margin-bottom: 20px;
    }
    .phone {
        position: absolute;
        bottom: 0px;
        width: 76%;
        margin-right: -235px;
    }
    .hero_section {
        height: 1446px;
        padding-top: 70px;
    }
    img, svg img{
        margin-left: -27px;
    width: 115%;

    }

    


.black h4 {
    font-weight: 300;
    font-size: 22px;
    color: red;
}
.future_button {
    color: rgb(255, 255, 255);
    font-size: 16px;
    text-transform: uppercase;
    padding: 6px 0px;
    /*background: #008ed6;*/
    border: 1px solid #999999;
    margin-bottom: -91px;
    margin-left: 138px;
  }
  .download-btn {
    color: rgb(255, 255, 255);
    padding: 7px 2px;
    font-size: 16px;
    text-transform: uppercase;
    background: #008ed6;
    margin-left: 254px;
}
.black {
    background-color: black;
    height: 190px;
}
.download-btn:hover {
    color: rgb(255, 255, 255);
    padding: 12px 7px;
    font-size: 15px;
    text-transform: uppercase;
    background: #008ed6;
}
.contact-box {
    position: absolute;
    background: black;
    left: 50%;
    bottom: -50px;
    transform: translateX(-50%);
    padding-top: 20px;
    border-radius: 2px;
    width: 100%;
}
.xero_one {
    background-color: rgb(237, 237, 237);
    position: relative;
    padding-bottom: 348px;
}
@media (max-width:575px){
    .height h1 {
        color: rgb(255, 255, 255);
        font-size: 25px;
        margin: 20px 0px;
    }
    .phone {
        position: absolute;
        bottom: 0px;
        width: 88%;
    }
    .btn-downlod {
        background: rgb(0, 142, 214);
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        font-size: 18px;
        padding: 9px 8px;
        border: 1px solid transparent;
        margin-top: 60px;
    }
    .btn-features {
        background: transparent;
        color: rgb(255, 255, 255);
        font-size: 18px;
        text-transform: uppercase;
        border: 1px solid rgb(153, 153, 153);
        padding: 8px 15px;
        margin-left: 20px;
        margin-top: 60px;
      }
      .nav-item {
        padding: 0px 0 0 25px;
        text-transform: capitalize;
        margin-bottom: 20px;
    }
    .phone {
        position: absolute;
        bottom: 0px;
        width: 76%;
        margin-right: -235px;
    }
    .hero_section {
        height: 1446px;
        padding-top: 70px;
    }
    img, svg img{
        margin-left: -27px;
    width: 115%;

    }

    


.black h4 {
    font-weight: 300;
    font-size: 22px;
    color: red;
}
.future_button {
    color: rgb(255, 255, 255);
    font-size: 16px;
    text-transform: uppercase;
    padding: 6px 0px;
    /*background: #008ed6;*/
    border: 1px solid #999999;
    margin-bottom: -91px;
    margin-left: 138px;
  }
  .download-btn {
    color: rgb(255, 255, 255);
    padding: 7px 2px;
    font-size: 16px;
    text-transform: uppercase;
    background: #008ed6;
    margin-left: 254px;
}
.black {
    background-color: black;
    height: 190px;
}
.download-btn:hover {
    color: rgb(255, 255, 255);
    padding: 12px 7px;
    font-size: 15px;
    text-transform: uppercase;
    background: #008ed6;
}
.contact-box {
    position: absolute;
    background: black;
    left: 50%;
    bottom: -50px;
    transform: translateX(-50%);
    padding-top: 20px;
    border-radius: 2px;
    width: 100%;
}
.xero_one {
    background-color: rgb(237, 237, 237);
    position: relative;
    padding-bottom: 348px;
}
}


.middel h2 {
    padding-bottom: 10px;
    font-family: math;
    font-weight: 500;
    font-size: 44px;
}
}